.footer {
    height: 85px;
    width: 100%;
    background-color: #111827;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    margin-top: 6vw;
}

/* media */
.footer__media {
    display: flex;
    width: 6%;
    justify-content: space-between;
}

/* nav */
.footer__nav {
    display: flex;
    width: 20%;
    justify-content: space-between;
}